:root {
  --bgnav: #CD0C0Dff;
  --judul: #CD0C0D;
  --subjudul: #ff005f;
  --bgbtn: #e60056;
  --bgpink: #FEE6E7ff;
  --borderpink: #FF89B5;
  --colortext: #868e96;
}

a {
  text-decoration: none;
}

/* Logo & login */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
  
}

.body {
  box-sizing: border-box;
}

.containerheader {
  padding: 0 8%;
}

.containerheader2 {
  display: flex;
  justify-content: space-between;
}

.containerlink {
  margin-top: 20px;
}

.containerlink a {
  color: var(--subjudul);
}

.logo {
  width: 60px;
  height: 84px;
}

.site-title {
  position: relative;
}

.kosong {
  color: var(--judul);
  position: absolute;
  bottom: 3px;
  left: 75px;
  line-height: 25.2px;
  font-size: 18px;
  font-weight: 700;
}

/* navbar */
.containernavbar {
  margin-top: 18px;
}

.contentnavbar ul {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bgnav);
}

.contentnavbar a {
  text-decoration: none;
  color: white;
  border-right: 1px solid #d4d5d7;
  border-left: 1px solid #d4d5d7;
  padding: 20px 35px;
  line-height: 25.2px;
  font-weight: 700;
  font-size: 14px;
}

ul li {
  list-style: none;
}

/* icon */
.containericon1 {
  padding: 0 10%;
  margin-top: 30px;
}

.contenticon1 a {
  position: relative;
  color: var(--subjudul);
}

.contenticon1 {
  display: flex;
  position: relative;
  font-size: 13px;
  font-weight: 400;
}

.fas {
  position: absolute;
  right: 40px;
  top: 1px;
}

.home {
  position: absolute;
}

.space {
  left: 50px;
  position: absolute;
}

.login {
  left: 68px;
  position: absolute;
}

/* news */
.gridd {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 8%;
  position: relative;
  
}

.judulnews {
  color: var(--subjudul);
}

.container-news {
  box-sizing: border-box;
  margin-top: 40px;
  width: 210px;
  height: 740px;
  border: 1px solid var(--borderpink);
  border-radius: 10px;
}

.container2 {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
  padding: 10px;
  text-align: center;
  background-color: var(--borderpink);
}

.container-content {
  margin: 20px 15px;
  line-height: 16.8px;
}

.content a {
  color: var(--subjudul);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}

.time {
  font-size: 13px;
  color: #868e96;
  margin-top: 15px;
  padding: 0 0 15px 0;
  border-bottom: 1px dotted var(--subjudul);
}

.content {
  margin-top: 15px;
}

.selengkapnya {
  width: 178px;
  height: 44px;
  margin-top: 10px;
  border: 1px solid var(--borderpink);
  background-color: var(--subjudul);
  color: white;
  border-radius: 50px;
  font-weight: 700;
}

/* berita */
.containerberita {
  position: relative;
}

.judul-berita {
  color: var(--subjudul);
}

.beritaimg {
  margin-top: -13px;
  border-bottom: 1px solid var(--borderpink);
  padding-bottom: 10px;
  margin-bottom: 35px;
}

.beritaimg a {
  font-weight: 500;
  color: var(--subjudul);
  line-height: 25.2px;
}

.title-berita {
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid var(--borderpink);
  background-image: url('../img/section-title.png');
  margin: 40px 20px;
  width: 700px;
}

.contentberita {
  position: absolute;
  margin: 0 20px;
}

.img {
  margin-bottom: 5px;
  display: flex;
}

.m {
  line-height: 25.2px;
  color: #868e96;
  font-size: 14px;
}

.nexthal {
  text-align: center;
}

span a {
  color: var(--subjudul);
}


/* schedule */
.container-schedule2 {
  border: 1px solid var(--borderpink);
  margin: 0 8%;
  width: 210px;
  margin-top: 25px;
  border-radius: 10px;
}

.container-content-schedule {
  line-height: 16.8px;
  margin: 20px 15px;
}

.content-schedule {
  margin-top: 10px;
}

.content-schedule a {
  color: var(--subjudul);
  font-size: 14px;
  text-decoration: none;
  font-weight: 500;
}


.time-schedule {
  border-bottom: 1px dotted var(--borderpink);
  font-size: 13px;
  color: #868e96;
  margin-top: 8px;
  padding: 0 0 13px 0;
}

/* footer */
.container-footter {
  position: absolute;
  color: white;
  background-color: #333333;
  width: 100%;
  height: 164px;
  margin-top: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-footer a {
  color: white;
  text-decoration: none;
}

.footerr {
  display: flex;
  justify-content: center;
}

.icon {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.sns a {
  margin-left: 10px;
}

.footer2 {
  margin-top: 16px;
  text-align: center;
  
}